output/
test/
runs/
build/
images/

*.pth
*.pt
*.onnx
*.trt
*.engine
*.wts
file/*.pt
file/*.wts
file/*.engine
file/*.yaml
file/*.onnx
file/coco_calib

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

.vscode/
.idea/
*.iml

*.log
logs/
tmp/
temp/
.cache/


